<li class="{%if node.children %}topic{% else %}file{% endif %}" data-node-id="{{node.node_id}}"><a><i class="icon fa {{node.icon}}"></i> <div class="title truncate" title="{{node.title}}">{{node.title}}</div>
{% if node.file_size %}
({{node.file_size}})
{% endif %}</a>
{%if node.children %}
  <ul style="display: none" class="content-tree">
  {%for child in node.children %}
    {%with node=child template_name="tree_list.html" %}
      {%include template_name%}
    {%endwith%}
  {%endfor%}
  </ul>
{%endif%}
</li>